{{>header}}
{{>navbar}}
<section class="container my-4">
    <h3 class="text-center text-primary my-3">add New customer</h3>
    <form method="get" action="/addLogic"> 
        {{!-- post --}}
        <div class="mb-3">
            <input name="name" class="form-control" placeholder="Name">
        </div>
        <div class="mb-3">
            <input name="accuName" class="form-control" placeholder="AccuName">
        </div>
        <div class="mb-3">
            <input name="balance" class="form-control" placeholder="Balance">
        </div>
        <div class="mb-3">
            <input name="transaction" class="form-control" placeholder="Transaction">
        </div>
        <div class="mb-3">
            <select name="custActions" class="form-control" min="500" max="500000">
                <option selected >please choose your actions</option>
                {{#each custActions}}
                <option value="{{this}}">{{this}}</option>
                                

                {{/each}}
            </select>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add customer</button>
        </div>

    </form>
</section>
{{>footer}}